<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
<!-- Basic meta tags -->
<meta charset="utf-8">
<title>FiberHOP</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="css/flexslider.css" rel="stylesheet" media="screen">
<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
<link href="css/socialist.css" rel="stylesheet" media="screen">
<link href="css/piro-box.css" rel="stylesheet" media="screen">
<link href="css/style.css" rel="stylesheet" media="screen">

<!-- Javascript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script><!-- jQuery from Google CDN -->
<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script><!-- jQuery Local if CDN failed -->
<script src="js/bootstrap.min.js"></script><!-- Bootstrap  -->
<script src="js/jquery.flexslider-min.js"></script><!-- Flex Slider -->
<script src="js/waypoints.min.js" type="text/javascript"></script><!-- Sticky Menu -->
<script src="js/modernizr.custom.js"></script><!--  To detact CSS3 & HTML5-->
<script src="js/jquery.stapel.js"></script><!-- Portfolio -->
<script src="js/jquery.socialist.js"></script><!-- Social Feeds -->
<script src="js/enscroll.min.js"></script><!-- Custom Scrollbar -->
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script><!-- Jquery UI -->
<script type="text/javascript" src="js/pirobox_extended_min.js"></script><!-- Lightbox popup -->
<script type="text/javascript" src="js/jquery.masonry.min.js"></script><!-- Masonry(Testimonials) -->
<script src="js/functions.js"></script><!-- All jQuery functions and callings -->

<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
</head>

<body>
<!-- Page loading -->
<div id="p-load" class="dark">
  <div class="loader"> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <span>Page is loading.....</span> </div>
</div>
<!-- End Page loading --> 

<!-- Section Home -->
<section id="home" class="light"> 
  
  <!-- Header -->
  <header id="header" class="container"> 
    
    <!-- Social feeds -->
    <div class="feeds hidden-phone hidden-tablet" id="feeds-display">
      <div class="feeds-content">
        <div class="overflow">
          <div>Test</div>
        </div>
      </div>
    </div>
    <!--<div class="feeds-toggle hidden-phone hidden-tablet" id="feed-display"> <span class="down"></span> </div>-->
    <!-- End Social feeds -->
    
    <div class="row">
      <div class="span9"> 
        <!-- Logo + Slogan -->
        <div class="logo"><img src="img/logo.png" width="197" height="74" alt="FIBER HOP"></div>
        
        <!-- end Logo + Slogan --> 
      </div>
      
      <!-- Social links -->
      <div class="span3 hidden-phone">
        <ul class="social">
          <li><a href="#"><img src="img/social/facebook.png" width="30" height="30" alt=""></a></li>
          <li><a href="#"><img src="img/social/google-plus.png" width="30" height="30" alt=""></a></li>
          <li><a href="#"><img src="img/social/twitter.png" width="30" height="30" alt=""></a></li>
          <li><a href="#"><img src="img/social/youtube.png" width="30" height="30" alt=""></a></li>
        </ul>
      </div>
      <!-- Social links --> 
    </div>
    
    <!-- Navigation Menu -->
    <div class="nav-container">
      <nav class="navbar">
        <div class="navbar-inner container">
          <div class="collapse-nav"> <span class="collapse-nav-title">NAVIGATION</span>
            <div class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </div>
          </div>
          <div class="nav-collapse collapse">
            <ul class="nav" id="navigation">
              <li> <a class="active" href="#home">FiberHOP</a> </li>
              <li> <a href="#about-us">Consulting</a>
                <ul>
                  <li><a href="#">DC design</a></li>
                  <li><a href="#">system and cloud architecture</a></li>
                  <li><a href="#">network architecture</a></li>
                  <li><a href="#">Layered Security</a></li>
                  <li><a href="#">Migrations</a></li>
                  <li><a href="#">system integration</a></li>
                  <li><a href="#">systems and network support</a></li>
                  <li><a href="#">VoIP</a></li>
                </ul>
              </li>
              <li> <a href="#development">Development</a>
                <ul>
                  <li><a href="#">html</a></li>
                  <li><a href="#">html5</a></li>
                  <li><a href="#">java</a></li>
                  <li><a href="#">C#</a></li>
                  <li><a href="#">asp.net</a></li>
                  <li><a href="#">php</a></li>
                  <li><a href="#">CSS5</a></li>
                </ul>
              </li>
              <li> <a href="#hosting">Hosting</a>
                <ul>
  <li><a href="#">colo</a></li>
  <li><a href="#">VDI</a></li>
  <li><a href="#">VM</a></li>
  <li><a href="#">Dedicated</a></li>
  <li><a href="#">webhosting</a></li>
  <li><a href="#">transit</a></li>
  <li><a href="#">DIA</a></li>
  <li><a href="#">LB</a></li>
</ul>  
              </li>
              <li> <a href="#services">managed services</a>
                <ul>
                  <li><a href="#">DC design</a></li>
                  <li><a href="#">system and cloud architecture</a></li>
                  <li><a href="#">network architecture</a></li>
                  <li><a href="#">Layered Security</a></li>
                  <li><a href="#">Migrations</a></li>
                  <li><a href="#">system integration</a></li>
                  <li><a href="#">systems and network support</a></li>
                  <li><a href="#">VoIP</a></li>
                </ul>
              </li>
              <li> <a href="#contact">Contact Us</a> </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- End Navigation Menu --> 
    
  </header>
  <!-- End Header --> 
  
  <!-- Image Slider -->
  <div class="flexslider">
    <ul class="slides">
      <li> <img src="img/slider/3.jpg" alt=""/> </li>
      <li> <img src="img/slider/2.jpg" alt="" /> </li>
      <li> <img src="img/slider/1.jpg" alt="" /> </li>
    </ul>
    <div class="container highlights hidden-phone hidden-tablet">
      <div class="row">
        <article class="span6 h-block pull-right">
          <h2 class="hbg-l">Sample heading goes here</h2>
          <div class="clearfix"></div>
          <p>Jvu gravida diam volutpat sit amet. Etiam elit lorem, gravida diam volutpat sit amet mattis in congue at, lacinia bibendum nisi fermentum in arcu. Donec ullamcorper felis at eros malesuada at bibendum nisi fermentum.</p>
        </article>
      </div>
    </div>
  </div>
  <!-- End Image Slider -->
  
  <div class="container">
    <h1 class="welcome-text">Welcome to Fiber<span>Hop</span></h1>
    <hr/>
    <p>More than 12 million customers count on us to help them find the right name and turn it into a one-of-a-kind digital identity.</p>
    <div class="v-space-15"></div>
    
    <!-- Latest Projects -->
    <div class="hidden-tablet hidden-phone">
      <h2 class="hbg-d">Fast, secure, reliable, trusted by millions.</h2>
      <div class="row t-center">
      
      
      
        <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Malinda Hollaway</h4>
            <h4 class="hbg-l post">CHEIF EXECUTIVE OFFICER</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/works/3.jpg" alt=""> </article>
        
        
        
        <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Malinda Hollaway</h4>
            <h4 class="hbg-l post">CHEIF EXECUTIVE OFFICER</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/works/4.jpg" alt=""> </article>
        
        
        
        <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Malinda Hollaway</h4>
            <h4 class="hbg-l post">CHEIF EXECUTIVE OFFICER</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/works/2.jpg" alt=""> </article>
        
        
        
        <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Malinda Hollaway</h4>
            <h4 class="hbg-l post">CHEIF EXECUTIVE OFFICER</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/works/1.jpg" alt=""> </article>
        
        
        
      </div>
    </div>
    <!-- End Latest Projects --> 
  </div>
  <div class="v-space-25"></div>
</section>
<!-- End Section Home --> 
<div  id="about-us" style="width:100%; height:0px;"></div>
<!-- Section About Us -->
<section class="dark">
  <div class="v-space-25"></div>
  <div class="container">
    <div class="quote"><h2>Consulting</h2>
    Nam id odio et dui vestibulum gravida. Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit </div>
    <div class="v-space-25"></div>
    <div class="row"> <img src="img/about/1.jpg" class="span4" alt="" /> <img src="img/about/2.jpg" class="span4 hidden-phone" alt="" /> <img src="img/about/3.jpg" class="span4 hidden-phone" alt="" /> </div>
    <div class="v-space-25"></div>
    <p>Nam id odio et dui vestibulum gravida. Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque vestibulum faucibus nunc, et scelerisque ante dapibus at. Maecenas venenatis sem vitae augue fringilla sit amet elementum sapien ornare.</p>
    <p>Fusce a porttitor leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis, nunc eu dapibus suscipit, ligula ligula eleifend felis, vel imperdiet lorem leo a tortor. Aliquam mi nisl, scelerisque vitae rutrum et, rutrum consectetur neque. Nulla leo turpis, consequat in faucibus nec, ultrices molestie eros. Vivamus id enim vel justo egestas congue et sed quam. Morbi adipiscing tincidunt bibendum. Cras eget tempus quam.</p>
    <div class="v-space-25"></div>
    
    <!-- Services -->
    
    <!-- End Services --> 
  </div>
  <div class="v-space-15"></div>
</section>
<!-- End About Us --> 

<!-- Section Team -->
<section class="light">
  <div class="v-space-15"></div>
  <div class="container">
    <p>In hac habitasse platea dictumst. Pellentesque auctor vulputate ante eget aliquam. Pellentesque eu nunc et libero tristique pharetra vel aliquet diam. Sed id malesuada neque. Nullam ipsum metus, euismod quis porta et, accumsan nec augue. Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enim, quis gravida sem. Suspendisse sodales convallis purus, eget pellentesque tortor aliquet ac. Suspendisse nec eros erat.</p>
    <div class="v-space-5"></div>
    <div class="row t-center">
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Malinda Hollaway</h4>
            <h4 class="hbg-l post">CHEIF EXECUTIVE OFFICER</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/1.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Margery Elmendorf</h4>
            <h4 class="hbg-l post">Multimedia Manager</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/2.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Lilly Elizabath</h4>
            <h4 class="hbg-l post">Software Developer</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/3.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Cameron White</h4>
            <h4 class="hbg-l post">Business Analyst</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/4.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Wendy Mitchell</h4>
            <h4 class="hbg-l post">Web Designer</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/5.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Wega Amanda</h4>
            <h4 class="hbg-l post">UX Designer & Analyst</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/6.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Daffie Greenhalgh</h4>
            <h4 class="hbg-l post">Software Engineer</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/7.jpg" alt=""> </article>
      <article class="span3 t-items"> <a href="#" class="fb"><i class="icon-facebook"></i></a> <a href="#" class="twt"><i class="icon-twitter"></i></a>
        <div class="t-block">
          <div class="t-info dark">
            <h4 class="name">Gweneth Viglionese</h4>
            <h4 class="hbg-l post">Web Developer & Designer</h4>
            <p>Sed lobortis ullamcorper turpis accumsan tincidunt. Aenean tellus mauris, scelerisque nec condimentum et, scelerisque eu urna. In interdum luctus metus, ac feugiat nulla aliquam a. Pellentesque vitae mi enims</p>
          </div>
        </div>
        <img src="img/team/8.jpg" alt=""> </article>
    </div>
  </div>
  <div class="v-space-15"></div>
</section>
<!-- End Section Team --> 
<div  id="development" style="width:100%; height:15px;"></div>
<!-- Section Testimonials -->
<section class="dark">
  <div class="v-space-25"></div>
  <div class="container">
    <div class="quote"> 
    <h2>Development</h2>
    Nam id odio et dui vestibulum gravida. Praesent felis augue, 
    placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit </div>
    <div class="v-space-25"></div>
    <div id="masonry">
      <article class="ts-items">
        <div class="ts-info"> <img src="img/html5.jpg" alt="">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique augue quis mi lobortis interdum. In mollis egestas egestas. Donec rhoncus interdum consectetur. Pellentesque quis venenatis leo. Morbi quis tortor eu mi ultricies scelerisque in nec neque. </p>
        </div>
        <div class="testimony"> <span class="testimony-name">HTML5</span> <span class="testimony-post">Get a quote</span> </div>
      </article>
       <article class="ts-items">
        <div class="ts-info"> <img src="img/html.jpg" alt="">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique augue quis mi lobortis interdum. 
          In mollis egestas egestas. Donec rhoncus interdum consectetur. Pellentesque quis venenatis leo. 
          Morbi quis tortor eu mi ultricies scelerisque in nec neque. </p>
        </div>
        <div class="testimony"> <span class="testimony-name">HTML</span> <span class="testimony-post">Get a quote</span> </div>
      </article>
      <article class="ts-items">
        <div class="ts-info"> <img src="img/java.jpg" alt="">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique augue quis mi lobortis interdum. 
          In mollis egestas egestas. Donec rhoncus interdum consectetur. Pellentesque quis venenatis leo. 
          Morbi quis tortor eu mi ultricies scelerisque in nec neque. </p>
        </div>
        <div class="testimony"> <span class="testimony-name">HTML</span> <span class="testimony-post">Get a quote</span> </div>
      </article>
      <article class="ts-items">
        <div class="ts-info"> <img src="img/html.jpg" alt="">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique augue quis mi lobortis interdum. 
          In mollis egestas egestas. Donec rhoncus interdum consectetur. Pellentesque quis venenatis leo. 
          Morbi quis tortor eu mi ultricies scelerisque in nec neque. </p>
        </div>
        <div class="testimony"> <span class="testimony-name">HTML</span> <span class="testimony-post">Get a quote</span> </div>
      </article>
     
    </div>
  </div>
  <div class="v-space-15"></div>
</section>
<!-- End Section Testimonials --> 

<!-- Section Portfolio -->
<section id="hosting" class="light">
  <div class="v-space-20"></div>
  <div class="container">
    <p>Hosting Packages</p>
    <div class="p-header">
      <h2 id="p-name" class="hbg-d">Get the best hosting packages from Fiber HOP</h2>
      <span id="close" class="back"><i class="icon-angle-left"></i>&nbsp;&nbsp;BACK TO CATEGORIES</span> </div>
    <div class="v-space-25"></div>
    
    
    
    
    
    
    
    
    
    
    
  </div>
  <div class="v-space-20"></div>
</section>
<!-- End Section Portfolio --> 










<section  id="services" class="dark">
  <div class="v-space-20"></div>
  <div class="container">
    
   



<div class="services">
      <h2 class="welcome-text">WE PROVIDE THE BEST WEB SERVICES</h2>
      <div class="v-space-25"></div>
      <div class="row">
        <article class="s-items span4">
          <div class="s-ico"><i class="icon-cogs"></i></div>
          <p>Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque vestibulum faucibus nunc. </p>
        </article>
        <article class="s-items span4">
          <div class="s-ico"><i class="icon-signal"></i></div>
          <p>Ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque vestibulum faucibus nunc, et scelerisque ante dapibus at. Maecenas venenatis sem.</p>
        </article>
        <article class="s-items span4">
          <div class="s-ico"><i class="icon-beaker"></i></div>
          <p>Id odio et dui vestibulum gravida. Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque vestibulum faucibus nunc.</p>
        </article>
        <article class="s-items span4">
          <div class="s-ico"><i class="icon-flag"></i></div>
          <p>Lorem Nam id odio et dui vestibulum gravida. Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque vestibulum.</p>
        </article>
        <article class="s-items span4">
          <div class="s-ico"><i class="icon-bullhorn"></i></div>
          <p>Odio et dui vestibulum gravida. Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque vestibulum.</p>
        </article>
        <article class="s-items span4">
          <div class="s-ico"><i class="icon-retweet"></i></div>
          <p>Nam id odio et dui vestibulum gravida. Praesent felis augue, placerat a congue id, auctor at ligula. Quisque ac quam in nisi tincidunt consectetur quis vitae elit. Mauris eget elit quis odio dapibus varius eu in nisi. Nullam quis nisl sapien. Integer lobortis vulputate diam, vel porttitor neque commodo ac. Mauris a magna sit amet purus varius dapibus. Pellentesque.</p>
        </article>
      </div>
      <div class="v-space-25"></div>
    </div>


  </div>
  <div class="v-space-15"></div>
</section>














<!-- Section Contact -->
<section id="contact" class="light">
  <div class="v-space-0"></div>
  <div class="container">
    <div class="quote"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique augue quis mi lobortis interdum. In mollis egestas egestas. Donec rhoncus interdum consectetur. Pellentesque quis venenatis leo. Morbi quis tortor eu mi ultricies scelerisque in nec neque. Mauris tristique augue quis mi lobortis interdum +11 25891452 </div>
    <div class="v-space-25"></div>
    <div class="contact row-fluid">
      <iframe class="my-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=36.319551,-75.437622&amp;spn=2.403161,5.410767&amp;t=m&amp;z=8&amp;output=embed"></iframe>
      <div class="c-form span4">
        <h4 class="hbg-d">Send us a message</h4>
        <form method="post" id="contact-form" action="php/process.php">
          <input class="span12" name="name" placeholder="Full Name" type="text" id="name">
          <input class="span12" name="email" placeholder="Email Address" type="text" id="email">
          <textarea rows="5" class="span12" placeholder="Message" name="message" id="message"></textarea>
          <span id="formSubmit">
          <input type="submit" class="submit" value="Send">
          </span>
        </form>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <!-- Contact Address -->
    <div class="row">
      <div class="span3">
        <h4 class="hbg-l">For General Enquiry</h4>
        <div class="clearfix"></div>
        Mobile: (899) 192-2941 / (822) 004-8357<br/>
        Phone: (822) 004-8357<br/>
        Email: someone@fiberhop.com </div>
      <div class="span3">
        <h4 class="hbg-l">For Reqruitment Enquiry</h4>
        <div class="clearfix"></div>
        Mobile: (899) 192-2941 / (822) 004-8357<br/>
        Phone: (822) 004-8357<br/>
        Email: someone@domain.com </div>
      <div class="span3">
        <h4 class="hbg-l">Head Office - California</h4>
        <div class="clearfix"></div>
        <address>
        7614 Foggy Gate Parkway,<br/>
        Fallen Leaf, South Carolina,<br/>
        29588-7707, US, (843) 416-3791
        </address>
      </div>
      <div class="span3">
        <h4 class="hbg-l">Branch - Somewhere</h4>
        <div class="clearfix"></div>
        <address>
        3763 Little Embers Key,<br/>
        Indian Hammock, Ontario, M8D-1F2, CA,<br/>
        (647) 222-9773
        </address>
      </div>
    </div>
  </div>
  <div class="v-space-10"></div>
 
</section>
<!-- End Section Contact --> 

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <p class="span8">Copytight 2014 Fiber HOP INC. All Rights reserved.</p>
      <div class="span4 pull-right t-right"> <a href="#" data-toggle="tooltip" class="t-tips" data-original-title="Facebook"><i class="icon-facebook-sign"></i></a> <a href="#" data-toggle="tooltip" class="t-tips" data-original-title="Twitter"><i class="icon-twitter-sign"></i></a> <a href="#" data-toggle="tooltip" class="t-tips" data-original-title="Linkedin"><i class="icon-linkedin-sign"></i></a> <a href="#" data-toggle="tooltip" class="t-tips" data-original-title="Google Plus"><i class="icon-google-plus-sign"></i></a> <a href="#" data-toggle="tooltip" class="t-tips" data-original-title="Pinterest"><i class="icon-pinterest-sign"></i></a> </div>
    </div>
  </div>
</footer>
<!-- End Footer --> 

<!-- Older IE Message --> 
<!--[if lt IE 8]>
        <div class="ie-block">
            <h1 class="Ops">Ooops!</h1>
            <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser in order to access the maximum functionality of this website. </p>
            <ul class="browsers">
                <li>
                    <a href="https://www.google.com/intl/en/chrome/browser/">
                        <img src="img/browsers/chrome.png" alt="">
                        <div>Google Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.mozilla.org/en-US/firefox/new/">
                        <img src="img/browsers/firefox.png" alt="">
                        <div>Mozilla Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com/computer/windows">
                        <img src="img/browsers/opera.png" alt="">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="http://safari.en.softonic.com/">
                        <img src="img/browsers/safari.png" alt="">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages">
                        <img src="img/browsers/ie.png" alt="">
                        <div>Internet Explorer(New)</div>
                    </a>
                </li>
            </ul>
            <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
        </div>   
        <![endif]-->
</body>
</html>